


.mat-form-field .mat-select-value,
.mat-form-field input {
    position: relative;
    top: -4px;
}

button[btn],
a[btn] {
    --bg-color: var(--color-ternary);
    --color: var(--color-ternary-content);
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    color: var(--color);
    padding: 0 1rem;
    min-height: 3rem;
    border-radius: 0.25rem;

    &.inverse {
        color: var(--bg-color);
        background-color: transparent;
    }

    &.info {
        --bg-color: var(--color-info);
        --color: var(--color-info-content);
    }

    &.error {
        --bg-color: var(--color-error);
        --color: var(--color-error-content);
    }

    &.success {
        --bg-color: var(--color-success);
        --color: var(--color-success-content);
    }

    &[disabled] {
        --bg-color: var(--color-base-400);
        --color: var(--color-base-content);
        opacity: 0.3;
        pointer-events: none;
    }
}

button.mat-button,
a[button],
.dark-mode button.mat-button,
.dark-mode a[button] {
    background-color: #c92366;
    border: 1px solid #c92366;
    color: #fff;
    min-height: 3em;

    &.inverse {
        background-color: #fff;
        color: #c92366;
    }

    &.success {
        background-color: #43a047;
        border-color: #43a047;
    }

    &.clear {
        background: none;
        border: none;
        color: rgba(#000, 0.85);
    }

    &.error {
        background: none;
        color: #e53935;
        border-color: #e53935;
    }

    &[disabled] {
        background-color: #ccc;
        border-color: rgba(#000, 0.1);
        pointer-events: none;
    }
}



.mat-spinner {
    circle {
        stroke: #c92366;
    }
}

.xterm {
    padding: 1rem;
}

sidebar {
    width: 0;
    transition: width 200ms;

    &.show {
        width: 20rem;
    }
}
